.main-content {
  position: relative;
  overflow: hidden;
}

.main-content::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 879px;
  left: 50%;
  top: 0;
  transform: translate(8.5%, 59%);
  background-image:
    image-set(
      url("../../img/clouds/clouds-1-desktop@1x.webp") 1x type("image/webp"),
      url("../../img/clouds/clouds-1-desktop@2x.webp") 2x type("image/webp"),
      url("../../img/clouds/clouds-1-desktop@1x.png") 1x type("image/png"),
      url("../../img/clouds/clouds-1-desktop@2x.png") 2x type("image/png")
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  z-index: -5;
  pointer-events: none;

  @media (min-width: $tablet-width) {
    height: 1632px;
    transform: translate(-5%, 57.8%);
  }

  @media (min-width: $desktop-width) {
    height: 1637px;
    transform: translate(8%, 41.3%);
  }
}
