/* fonts */
$main-font: "Montserrat", "Arial", sans-serif;


/* viewport */
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

/* color */
$base-color: #2d383f;
$light-color: #ffffff;
$accent-color: #0266c1;
$dark-blue: #1c3374;
$disabled-color: #999999;
$dark-gray: #2d383f;
$hover-color: #d9d9d9;
$error-color: #ff121f;
